REACT_APP_KDA_NETWORK_TYPE=development
REACT_APP_KDA_CHAIN_ID=0
REACT_APP_KDA_PRECISION=12
REACT_APP_KDA_NETWORK_ID=development
REACT_APP_KDA_FEE=0.003
REACT_APP_KDA_NETWORK=https://devnet.private.kate.land
REACT_APP_TORUS_VERIFIER= 
REACT_APP_TORUS_GOOGLE_CLIENT_ID= 
REACT_APP_STAKING_SIMULATION=false
REACT_APP_KADDEX_STATS_API_URL=https://stage.swap.kaddex.com:5011