REACT_APP_KDA_NETWORK_TYPE = testnet
REACT_APP_KDA_CHAIN_ID = 0
REACT_APP_KDA_GAS_PRICE = 0.0000001
REACT_APP_KDA_GAS_LIMIT = 100000
REACT_APP_KDA_PRECISION = 12
REACT_APP_KDA_NETWORK_ID = testnet04
REACT_APP_KDA_FEE = 0.003
REACT_APP_KDA_NETWORK = https://api.testnet.chainweb.com
REACT_APP_KADDEX_STATS_API_URL=https://stage.swap.kaddex.com:5011
REACT_APP_KADDEX_NAMESPACE=kaddex
REACT_APP_KADDEX_API_URL=http://144.202.110.63
REACT_APP_SIMPLEX_NEW_PAYMENT_URL=https://sandbox.test-simplexcc.com/payments/new