REACT_APP_KDA_NETWORK_TYPE = 
REACT_APP_KDA_CHAIN_ID = 
REACT_APP_KDA_PRECISION = 
REACT_APP_KDA_NETWORK_ID = 
REACT_APP_KDA_FEE = 
REACT_APP_KDA_NETWORK =
REACT_APP_TORUS_VERIFIER = 
REACT_APP_TORUS_GOOGLE_CLIENT_ID = 
KADDEX_STATS_API_URL=https://stage.swap.kaddex.com:5011