// MONTSERRAT

@font-face {
  font-family: 'montserrat-regular';
  src: url('../assets/fonts/Montserrat/montserrat-v15-latin-regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-italic';
  src: url('../assets/fonts/Montserrat/montserrat-v15-latin-italic.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('../assets/fonts/Montserrat/montserrat-v15-latin-700.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold-italic';
  src: url('../assets/fonts/Montserrat/montserrat-v15-latin-700italic.woff') format('woff');
  font-style: normal;
}